/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:16px Roboto, Arial, sans-serif; background:#fff; color:#4f6370; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:16px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:16px Roboto, Arial, sans-serif; color:#0099f5; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, .btn {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
a:hover,
.btn:hover,
input[type="submit"]:hover,
button:hover {
    opacity: 0.8;
}
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.content-box {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.not-desktop {
    display: none;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    overflow: hidden;
    position: relative;
}

.section-header {
    margin-bottom: 1.2em;
    font-weight: 300;
    font-size: 2.7em;
    line-height: 1.25;
}
.btn {
    min-width: 233px;
    min-height: 51px;
    padding: 0 1em;
    font-weight: 700;
    font-size: 1em;
    line-height: 51px;
    border: 0;
    border-radius: 2em;
    background: #ffca00;
    box-shadow: none;
    text-shadow: none;
    text-transform: uppercase;
    color: #fff;
    outline: none;
}
.input-style {
    min-width: 316px;
    min-height: 51px;
    padding: 0 20px 0 30px;
    font-weight: 400;
    font-size: 0.95em;
    line-height: 51px;
    border: 0;
    border-radius: 2em;
    box-shadow: none;
    text-shadow: none;
    background: #fff;
    color: #4f6370;
    outline: none;
}
.input-style::-webkit-input-placeholder { color: #4f6370; }
.input-style::-moz-placeholder { color: #4f6370; }
.input-style:-ms-input-placeholder { color: #4f6370; }
.input-style:-moz-placeholder { color: #4f6370; }

.half-box {
    position: relative;
    width: 610px;
    max-width: 100%;
    margin: 0;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#header {
    position: relative;
    background: #0099F5;
}
    .banner-clouds {
        position: absolute;
        z-index: 1;
        height: 100%;
        max-width: 100%;
        left: 50%;
        top: 0;
        bottom: 0;
        right: 0;
    }
        .banner-clouds:before {
            content: '';
            position: absolute;
            z-index: 1;
            margin-left: 265px;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            background: #0082fb;
        }
        .banner-clouds span {
            position: absolute;
            z-index: 2;
        }
            .banner-clouds span img {
                position: relative;
                z-index: 3;
            }
        .banner-clouds .sm-cloud {
            top: 11em;
            left: 0;
        }
        .banner-clouds .md-cloud {
            top: 11em;
            left: 32em;
        }
        .banner-clouds .main-cloud {
            top: 12em;
            left: 0;
        }
            .banner-clouds .main-cloud:before {
                content: '';
                position: absolute;
                z-index: 1;
                top: -6em;
                left: 4em;
                width: 404px;
                height: 561px;
                background: url(../img/header/banner_shadow.png) no-repeat center transparent;
            }
        .banner-clouds .under-cloud {
            top: 29.5em;
            left: 192px;
        }

    .header-top {
        overflow: hidden;
        position: relative;
        z-index: 3;
        padding-top: 3.75em;
        padding-bottom: 1.6em;
    }
        .main-logo {
            overflow: hidden;
            float: left;
            width: 283px;
            height: 40px;
            margin-right: 0.3em;
        }
            .main-logo a {
                white-space: nowrap;
                text-indent: 100%;
            }
            .main-logo a:hover {
                opacity: 1;
            }
                .main-logo img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
        .main-nav {
            overflow: hidden;
            float: left;
            margin: 0.6em 0 0 3em;
        }
            .main-nav li {
                float: left;
                margin: 0 1em;
            }
                .main-nav li a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #fff;
                    font-size: 0.8em;
                    font-weight: 700;
                }
            .btn-menu {
                display: none;
                text-align: right;
            }
                .btn-toggle {
                    position: relative;
                    display: inline-block;
                    height: 19px;
                    width: 28px;
                    margin: 15px 20px 8px;
                    color: #fff;
                    cursor: pointer;
                }
                    .btn-toggle-line,
                    .btn-toggle:before,
                    .btn-toggle:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        height: 3px;
                        width: 28px;
                        background: #fff;
                        -webkit-transition-duration: 0.2s;
                        -o-transition-duration: 0.2s;
                        -moz-transition-duration: 0.2s;
                        transition-duration: 0.2s;
                    }
                    .btn-toggle-line {
                        top: 8px;
                    }
                    .btn-toggle:before {
                        top: 0;
                    }
                    .btn-toggle:after {
                        bottom: 0;
                    }
                    .btn-toggle:hover .btn-toggle-line,
                    .btn-toggle:hover:before,
                    .btn-toggle:hover:after {
                        opacity: 0.8;
                    }

        .sign-up-btn,
        a.sign-up-btn {
            float: right;
            display: inline-block;
            min-width: 181px;
            min-height: 43px;
            padding: 0 1em;
            border-radius: 2em;
            border: 2px solid #fff;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 0.8em;
            line-height: 39px;
            font-weight: 700;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
        }
        .sign-in-btn,
        a.sign-in-btn {
            position: absolute;
            left: 50%;
            margin-left: 184px;
            top: 75px;
            display: inline-block;
            padding-right: 65px;
            text-transform: capitalize;
            text-decoration: none;
            font-size: 0.8em;
            font-weight: 300;
            color: #fff;
            white-space: nowrap;
        }
            .sign-in-btn:after {
                content: '';
                position: absolute;
                right: 0;
                top: -15px;
                display: inline-block;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                background: url(../img/header/lock_icon.png) no-repeat center #0082fb;
            }

    .banner-box {
        position: relative;
        z-index: 3;
        width: 600px;
        max-width: 100%;
        padding: 3em 0 5em;
        color: #fff;
    }
        .banner-box .section-header {
            margin-bottom: 1.5em;
        }
        .banner-box p {
            margin-bottom: 1em;
            font-weight: 300;
            font-size: 1.4em;
            line-height: 1.25;
        }
        .subscribe-form {
            overflow: hidden;
        }
        .banner-box .subscribe-form {
            padding-top: 2.4em;
        }
            .subscribe-form li {
                float: left;
                margin-right: 13px;
            }

    .logos-box {
        position: relative;
        z-index: 1;
        padding: 6.5em 0 4em;
        background: #fff;
    }
        .logos-box:before {
            content: '';
            position: absolute;
            z-index: 1;
            left: 50%;
            margin-left: 207px;
            top: -58px;
            height: 116px;
            width: 116px;
            background: url(../img/header/cloud_icon.png) no-repeat center 29px #fff;
            border-radius: 50%;
        }
        .logos-list {
            display: table;
            width: 100%;
            max-width: 1260px;
            padding: 0 20px;
            margin: 0 auto;
            text-align: center;
            table-layout: fixed;
        }
            .logos-list li {
                position: relative;
                z-index: 2;
                display: table-cell;
            }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.section-box {
    overflow: hidden;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.video-section {
    position: relative;
    background: #eef5f8;
    background: -moz-linear-gradient(left, rgba(238,245,248,1) 0%, rgba(238,245,248,1) 50%, rgba(0,184,197,1) 50%, rgba(0,184,197,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238,245,248,1)), color-stop(50%, rgba(238,245,248,1)), color-stop(50%, rgba(0,184,197,1)), color-stop(100%, rgba(0,184,197,1)));
    background: -webkit-linear-gradient(left, rgba(238,245,248,1) 0%, rgba(238,245,248,1) 50%, rgba(0,184,197,1) 50%, rgba(0,184,197,1) 100%);
    background: -o-linear-gradient(left, rgba(238,245,248,1) 0%, rgba(238,245,248,1) 50%, rgba(0,184,197,1) 50%, rgba(0,184,197,1) 100%);
    background: -ms-linear-gradient(left, rgba(238,245,248,1) 0%, rgba(238,245,248,1) 50%, rgba(0,184,197,1) 50%, rgba(0,184,197,1) 100%);
    background: linear-gradient(to right, rgba(238,245,248,1) 0%, rgba(238,245,248,1) 50%, rgba(0,184,197,1) 50%, rgba(0,184,197,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef5f8', endColorstr='#00b8c5', GradientType=1 );
}
    .video-section:after {
        content: '';
        position: absolute;
        bottom: -76px;
        left: 41%;
        width: 241px;
        height: 354px;
        margin-left: -52px;
        background: url(../img/content/video_robot.png) no-repeat center transparent;
    }
    .video-section .section-box {
        position: relative;
    }
        .video-box {
            position: absolute;
            left: 41%;
            top: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            margin-left: 15px;
            background: url(../img/content/video_play.png) no-repeat center #00B9C5;
            cursor: pointer;
        }
        .video-content {
            position: relative;
            z-index: 3;
            float: left;
            width: 41%;
            padding: 3.4em 4.7em 4.4em 0;
        }
            .video-content p {
                max-width: 330px;
            }

.advantages-section {
    padding-top: 6.8em;
}
    .advantages-list {
        margin: 3.5em 1.25em 4.25em;
    }
        .advantages-list tr {
            width: 100%;
        }
            .advantages-list td {
                display: table-cell;
                padding: 4.25em 1.25em 0;
            }
            .advantages-list tr:first-child td {
                padding-top: 0;
            }
            .advantages-list .td-header {
                width: 17em;
            }
                .advantages-list .icon-wrap {
                    display: inline-block;
                    width: 162px;
                    height: 162px;
                    line-height: 162px;
                    border-radius: 50%;
                    background: #EEF5F8;
                    text-align: center;
                }
                    .advantages-list .icon-wrap img {
                        vertical-align: middle;
                        line-height: normal;
                    }
                .advantages-list h3 {
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: 2em;
                    line-height: 1.2;
                    color: #f95656;
                }
                .advantages-list p {
                    font-size: 1.3em;
                    line-height: 1.3;
                }

.feedback-section {
    margin-bottom: 7em;
    background: #eef5f8;
}
    .author-box {
        position: relative;
        float: left;
        margin-right: 3.7em;
        color: #fff;
        margin-bottom: -4px;
    }
        .author-box .section-header,
        .author-box .author-logo {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
        }
        .author-box .section-header {
            top: 1.1em;
        }
        .author-box .author-logo {
            bottom: 5em;
        }
        .author-box:after {
            content: '';
            position: absolute;
            right: -1px;
            top: 0;
            bottom: 0;
            width: 49px;
            background: url(../img/content/feedback_arrow.png) no-repeat right center transparent;
        }
    .feedback-content {
        overflow: hidden;
        max-width: 960px;
        padding: 5em 60px 1em 20px;
        font-size: 1.4em;
        line-height: 1.2;
        font-weight: 400;
    }
        .feedback-content > p {
            margin-bottom: 5.5em;
        }
        .feedback-content footer {
            font-size: 0.7em;
        }

/*------------------------------------FEATURED--------------------------------------*/
.under-banner-section {
    position: relative;
    z-index: 5;
    height: 11.3em;
    margin-top: 1.5em;
    background: #eef5f8;
}
    .under-banner-section .content-box {
        position: relative;
    }
        .under-banner-section img {
            position: absolute;
            z-index: 10;
            left: -2.5em;
            top: -13.3em;
            max-width: 100%;
            width: auto;
            height: auto;
        }

.features-advantages-section {
    padding-top: 3.5em;
}
    .section-header-descrip {
        margin-top: -1.75em;
        margin-bottom: 2.4em;
        font-size: 1.4em;
        line-height: 1.25;
    }
    .features-advantages-section .section-header,
    .features-advantages-section .section-header-descrip {
        text-align: center;
        font-weight: 400;
    }
    .features-advantages-section .section-header-descrip {
        max-width: 800px;
        margin: -1.75em auto 2.4em;
    }
    .features-advantages-list {
        overflow: hidden;
        margin-bottom: 2em;
    }
        .features-advantages-list li {
            display: inline-table;
            width: 33%;
            text-align: center;
            padding: 1em 1.5em;
            margin-bottom: 1.4em;
        }
            .features-advantages-list .icon-wrap {
                display: inline-block;
                height: 124px;
                width: 124px;
                margin-bottom: 1.35em;
                background: #EEF5F8;
                text-align: center;
                border-radius: 50%;
                line-height: 124px;
                clear: both;
            }
                .features-advantages-list .icon-wrap img {
                    line-height: normal;
                    vertical-align: middle;
                }
                .features-advantages-list li:nth-child(2) .icon-wrap img {
                    position: relative;
                    top: -4px;
                }
            .features-advantages-list h3 {
                margin-bottom: 0.5em;
                text-transform: uppercase;
                color: #f95656;
                font-weight: 400;
                font-size: 1.4em;
            }
            .features-advantages-list p {
                color: #657a86;
                font-size: 1.05em;
                line-height: 1.15;
            }
            .features-advantages-list h3,
            .features-advantages-list p {
                max-width: 340px;
                margin-left: auto;
                margin-right: auto;
            }

.save-section {
    position: relative;
    background: #eef5f8;
    background: -moz-linear-gradient(left, rgba(238,245,248,1) 0%, rgba(238,245,248,1) 50%, rgba(0,184,197,1) 50%, rgba(0,184,197,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238,245,248,1)), color-stop(50%, rgba(238,245,248,1)), color-stop(50%, rgba(0,184,197,1)), color-stop(100%, rgba(0,184,197,1)));
    background: -webkit-linear-gradient(left, rgba(238,245,248,1) 0%, rgba(238,245,248,1) 50%, rgba(0,184,197,1) 50%, rgba(0,184,197,1) 100%);
    background: -o-linear-gradient(left, rgba(238,245,248,1) 0%, rgba(238,245,248,1) 50%, rgba(0,184,197,1) 50%, rgba(0,184,197,1) 100%);
    background: -ms-linear-gradient(left, rgba(238,245,248,1) 0%, rgba(238,245,248,1) 50%, rgba(0,184,197,1) 50%, rgba(0,184,197,1) 100%);
    background: linear-gradient(to right, rgba(238,245,248,1) 0%, rgba(238,245,248,1) 50%, rgba(0,184,197,1) 50%, rgba(0,184,197,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef5f8', endColorstr='#00b8c5', GradientType=1 );
}
    .save-section .section-box {
        position: relative;
    }
        .graph-box {
            position: absolute;
            z-index: 11;
            left: 41%;
            top: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            margin-left: 15px;
            background: #00B9C5;
            color: #fff;
        }
            .graph-slider {
                position: static;
                padding: 4.5em 4em 1em;
                margin-bottom: 0;
            }
                .graph-header {
                    padding-left: 0.2em;
                    margin-bottom: 2em;
                    font-weight: 300;
                    font-size: 1.4em;
                }
                .graph-img {
                    max-width: 100%;
                    width: auto;
                    height: auto;
                }
            .graph-slider .slick-dots {
                bottom: 1.8em;
                margin-left: -4em;
            }
                .graph-slider .slick-dots li {
                    width: 11px;
                    height: 11px;
                    margin: 0 5px;
                    padding: 0;
                }
                    .graph-slider .slick-dots li button {
                        width: 11px;
                        height: 11px;
                        padding: 0;
                    }
                        .graph-slider .slick-dots li button:before {
                            font-size: 13px;
                            line-height: 1;
                            width: 11px;
                            height: 11px;
                            color: #0f98a1;
                            opacity: 1;
                        }
                        .graph-slider .slick-dots li.slick-active button:before,
                        .graph-slider .slick-dots li button:hover:before,
                        .graph-slider .slick-dots li button:focus:before,
                        .graph-slider .slick-dots li button:hover,
                        .graph-slider .slick-dots li button:focus {
                            opacity: 1;
                            color: #fff;
                        }
        .save-content {
            position: relative;
            float: left;
            width: 41%;
            padding: 3.4em 4.7em 4.4em 0;
        }
            .save-content p {
                padding-right: 45px;
            }

.calculate-section {
    overflow: hidden;
    min-height: 10.25em;
    position: relative;
    background: #0099f5;
    color: #fff;
}
    .calculate-section:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 50%;
        margin-left: 6.5em;
        background: #0082fb;
    }
    .calculate-section .content-box {
        position: relative;
        z-index: 3;
    }
        .calculate-section .section-header {
            float: left;
            margin: 0.6em 0;
        }
        .calculate-section .calculate-link {
            color: #fff;
            text-decoration: none;
            font-weight: 300;
            font-size: 3em;
            float: right;
            margin-top: 1.1em;
            margin-right: 1.4em;
        }
            .calculate-section .calculate-link:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -0.7em;
                height: 132px;
                width: 193px;
                background: url(../img/content/calculate_icon.png) no-repeat center transparent;
            }

.zero-time-section {
    background: #eef5f8;
}
    .zero-time-section .side1 {
        padding: 3em 0;
    }
    .zero-time-section .side2 {
        padding: 2.5em 0;
        background: #e0eff5;
    }
        .zero-time-section .half-box,
        .features .half-box {
            display: table-cell;
            vertical-align: middle;
        }
            .zero-time-section p {
                margin-bottom: 0.8em;
            }
            .zero-time-section .side1 p {
                max-width: 25em;
            }
            .sub-header {
                font-weight: 400;
                font-size: 1.4em;
                margin-bottom: 0.8em;
            }
            .zero-time-section .side2 .sub-header,
            .zero-time-section .side2 p {
                max-width: 500px;
                margin-left: 20px;
            }

.reliable-section {
    padding-top: 1.7em;
    margin-bottom: -4px;
}
    .reliable-section .section-header {
        margin-right: 30px;
    }
    .reliable-section p {
        max-width: 27em;
    }
    .reliable-section img {
        margin-left: -30px;
    }

.user-friendly-section {
    position: relative;
    background: #47c4d2;
    color: #fff;
}
    .user-friendly-section:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 50%;
        margin-left: -7.5em;
        height: 100%;
        background: url(../img/content/user_friendly_bg.png) repeat left top #ffca00;
    }
    .user-friendly-section .half-box {
        position: relative;
        z-index: 5;
    }
    .user-friendly-section .half-box:first-child,
    .user-friendly-section .half-box:first-of-type {
        padding-right: 8em;
    }
        .user-friendly-section p {
            max-width: 24em;
        }
        .user-friendly-robot {
            display: block;
            margin: 1em auto 0;
            padding-right: 13%;
        }

.additional-section {
    padding-top: 5.5em;
    padding-bottom: 5em;
}
    .additional-section h2 {
        position: relative;
        font-weight: 400;
        font-size: 3.5em;
        color: #657a86;
        padding-left: 4.05em;
        margin-bottom: 1.2em;
    }
        .additional-section h2:before {
            content: '';
            position: absolute;
            width: 163px;
            height: 247px;
            left: -30px;
            top: -49px;
            background: url(../img/content/additional_robot.png) no-repeat center transparent;
        }
    .additional-list {
        clear: both;
        display: table;
        width: 100%;
        padding-bottom: 1em;
    }
        .additional-list li {
            display: table-cell;
            width: 33%;
            padding: 1em 1.5em;
            text-align: center;
        }
        .additional-list li:first-child {
            padding-left: 0;
        }
        .additional-list li:last-child,
        .additional-list li:nth-child(3) {
            padding-right: 0;
        }
            .additional-list .icon-wrap {
                display: inline-block;
                height: 133px;
                width: 133px;
                margin-bottom: 1.85em;
                background: #EEF5F8;
                text-align: center;
                border-radius: 50%;
                line-height: 133px;
                clear: both;
            }
                .additional-list .icon-wrap img {
                    line-height: normal;
                    vertical-align: middle;
                }
            .additional-list h3 {
                margin-bottom: 1.7em;
                text-transform: uppercase;
                color: #f95656;
                font-weight: 400;
                font-size: 1.4em;
                min-height: 54px;
            }
            .additional-list p {
                color: #657a86;
                font-size: 1.05em;
                line-height: 1.15;
            }
            .additional-list h3,
            .additional-list p {
                max-width: 299px;
                margin-left: auto;
                margin-right: auto;
            }

/*------------------------------------PRICING---------------------------------------*/
.pricing #header {
    background: url(../img/header/pricing_bg.png) no-repeat top right #0099F5;
    color: #fff;
}
    .pricing .sign-in-btn,
    .pricing a.sign-in-btn {
        position: relative;
        left: 0;
        top: 0;
        float: right;
        background: url(../img/header/lock_icon.png) no-repeat right center #0082fb;
        background-origin: content-box;
        min-width: 141px;
        min-height: 43px;
        padding: 0 1.5em 0 2.5em;
        margin: 0 2em;
        border-radius: 2em;
        line-height: 43px;
        vertical-align: middle;
    }
        .pricing .sign-in-btn:after {
            display: none;
        }
    .pricing-header-box {
        padding-top: 1.7em;
        padding-bottom: 2.7em;
    }
        .pricing-header-box .section-header {
            margin-bottom: 0.4em;
        }
        .pricing-header-box p {
            font-size: 1.4em;
            font-weight: 300;
        }
        .pricing-header-box .section-header,
        .pricing-header-box p {
            max-width: 700px;
        }

.prices-section {
    position: relative;
    overflow: hidden;
    padding-bottom: 3em;
}
    .prices-section:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 171px;
        background: #fff;
    }
    .prices-list {
        position: relative;
        z-index: 5;
    }
        .prices-list > li {
            float: left;
            width: 276px;
            min-height: 470px;
            margin: 0 19px;
            padding: 33px 30px 10px;
            background: #fff;
            color: #0099f5;
            text-align: center;
            -webkit-box-shadow: 0 0 50px 0 rgba(50, 50, 50, 0.1);
            -moz-box-shadow: 0 0 50px 0 rgba(50, 50, 50, 0.1);
            box-shadow: 0 0 50px 0 rgba(50, 50, 50, 0.1);
        }
        .prices-list > li:first-child,
        .prices-list > li:nth-child(4n+1){
            margin-left: 0;
        }
        .prices-list > li:last-child,
        .prices-list > li:nth-child(4n){
            margin-right: 0;
        }
            .prices-list h3 {
                font-weight: 700;
                font-size: 1.7em;
                margin-bottom: 0.9em;
            }
            .price-wrap {
                display: inline-block;
                height: 162px;
                width: 162px;
                margin-bottom: 8px;
                position: relative;
                border: 1px solid #0099f5;
                border-radius: 50%;
                text-align: center;
                color: #0099f5;
                font-weight: 300;
                font-size: 3.55em;
                line-height: 160px;
                white-space: nowrap;
            }
                .price-wrap:after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 19px;
                    right: -5px;
                    height: 37px;
                    width: 37px;
                    text-align: center;
                    border: 2px solid #0099f5;
                    border-radius: 50%;
                    background: url(../img/header/dollar.png) no-repeat 11px center #fff;
                }
            .prices-list .period {
                font-weight: 400;
                font-size: 0.95em;
            }
            .tariff-benefits {
                clear: both;
                padding: 3em 10px 0;
                font-size: 1.05em;
                color: #657a86;
            }
                .tariff-benefits li {
                    position: relative;
                    padding-left: 34px;
                    margin-top: 1.15em;
                    text-align: left;
                }
                .tariff-benefits li:first-child {
                    margin-top: 0;
                }
                    .tariff-benefits li:before {
                        content: '';
                        position: absolute;
                        top: 1px;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: url(../img/header/check_mark.png) no-repeat 4px 7px #a6c635;
                    }

.feature-section {
    position: relative;
    padding-top: 2.8em;
    padding-bottom: 2.25em;
    text-align: center;
    color: #657a86;
}
    .feature-section:after {
        content: '';
        position: absolute;
        right: 15px;
        bottom: -59px;
        width: 209px;
        height: 315px;
        background: url(../img/content/feature_section_robot.png) no-repeat center transparent;
    }
    .feature-section h2 {
        margin-bottom: 0.27em;
        font-weight: 400;
        font-size: 3.5em;
        color: #009cf6;
    }
    .feature-section p {
        font-size: 1.4em;
    }
    a.read-more,
    .read-more {
        display: inline-block;
        min-width: 140px;
        min-height: 35px;
        padding: 0 1.5em;
        margin-top: 4em;
        border: 1px solid #0099f5;
        border-radius: 2em;
        font-weight: 700;
        font-size: 0.8em;
        line-height: 35px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: #0099f5;
    }

.faq-section {
    padding: 3em 0 4.2em;
    background: #e0eff5;
    color: #657a86;
}
    .faq-section .section-header {
        font-weight: 400;
    }
    .faq-list {
        overflow: hidden;
        clear: both;
    }
        .faq-list .faq-column {
            float: left;
            width: 370px;
            margin: 0 27px;
        }
        .faq-list .faq-column:first-child,
        .faq-list .faq-column:nth-child(3n+1) {
            margin-left: 0;
        }
        .faq-list .faq-column:last-child,
        .faq-list .faq-column:nth-child(3n) {
            margin-right: 0;
        }
            .faq-column > h3 {
                margin-bottom: 1em;
                font-size: 1.4em;
                font-weight: 400;
            }
            .faq-sub-list {

            }
                .faq-sub-list li {
                    width: 100%;
                    margin-top: 20px;
                }
                .faq-sub-list li:first-child {
                    margin-top: 0;
                }
                    .question-head {
                        position: relative;
                        display: table;
                        width: 100%;
                        height: 112px;
                        background: #fff;
                        padding: 1em 88px 1em 38px;
                        cursor: pointer;
                    }
                        .question-head:after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 30px;
                            height: 54px;
                            width: 54px;
                            margin-top: -27px;
                            border-radius: 50%;
                            background: url(../img/content/cross_icon.png) no-repeat center #ffca00;
                            color: #fff;
                            text-align: center;
                        }
                        .question-head.open:after {
                            background-image: url(../img/content/minus_icon.png);
                        }
                        .question-head h4 {
                            display: table-cell;
                            width: 100%;
                            vertical-align: middle;
                            font-weight: 400;
                            color: #4f6370;
                        }
                    .question-answer {
                        display: none;
                        background: #f5f5f5;
                        padding: 1.5em 28px;
                        color: #4f6370;
                    }
                        .question-answer p {
                            margin-bottom: 0.7em;
                        }
                        .question-answer p:last-child {
                            margin-bottom: 0;
                        }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#footer {
    position: relative;
    z-index: 5;
}
    .prefooter {
        background: #0082fb;
        color: #fff;
    }
        .prefooter .content-box {
            position: relative;
            padding-top: 3.5em;
            padding-bottom: 5em;
        }
            .prefooter .section-header {
                margin-bottom: 1.4em;
            }
            .prefooter_robot {
                position: absolute;
                z-index: 4;
                bottom: 0;
                left: 50%;
                margin-left: 10em;
            }

    .footer-bottom {
        overflow: hidden;
        padding-top: 2.3em;
        padding-bottom: 5em;
        margin-top: 4.6em;
        border-top: 1px solid #e3eef3;
    }
        .footer-logo {
            float: left;
            margin-right: 1em;
        }
            .footer-logo a:hover {
                opacity: 1;
            }
            .footer-logo img {
                max-width: 100%;
                height: auto;
            }
        .main-nav.footer-nav {
            float: right;
            margin: 0.3em 0 0;
        }
            .main-nav.footer-nav li:last-child {
                margin-right: 0;
            }
                .main-nav.footer-nav li a {
                    color: #4f6370;
                }
        .copyright {
            clear: both;
            padding-top: 3.5em;
            color: #4f6370;
            font-size: 0.7em;
        }

/*----------------------------------------------------------------------------------*/
/*--------------------------------------OTHER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#feedback-modal-box {
    width: 100%;
    min-width: 350px;
    max-width: 600px;
    border-radius: 12px;
}
    .modal-close {
        background: #0082fb;
        border-radius: 50%;
        font-size: 24px;
        line-height: 27px;
        font-family: Arial;
        -webkit-transition: transform 0.5s ease-out;
        -moz-transition: transform 0.5s ease-out;
        -o-transition: transform 0.5s ease-out;
        transition: transform 0.5s ease-out;
    }
    .modal-close:hover {
        background: #0099F5;
        opacity: 1;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    #feedback-modal-box #feedback-infolist {
        font-size: 1.2em;
        font-weight: 300;
    }

/*----------------------------------------------------------------------------------*/
/*------------------------------------RESPONSIVE------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media all and (max-width: 1249px) {
    .video-content {
        width: 50%;
        padding-right: 4em;
    }
    .video-content p {
        max-width: none;
        padding-right: 7em;
    }
    .video-box {
        left: 50%;
        margin-left: 0;
    }
    .video-section:after {
        left: 50%;
        margin-left: -92px;
    }
    .feedback-content {
        padding-top: 3em;
    }
    .feedback-content > p {
        margin-bottom: 3.5em;
    }
}
@media all and (max-width: 1023px) {
    body {
        font-size: 14px;
    }
    .input-style {
        font-size: 1em;
    }
    .desktop {
        display: none !important;
    }
    .not-desktop {
        display: block;
    }
    .header-top {
        overflow: visible;
        height: 104px;
        z-index: 1000;
        padding-top: 3em;
    }
    .main-nav:not(.footer-nav) {
        position: absolute;
        overflow: visible;
        float: none;
        margin: 0;
        right: 1em;
        top: 3em;
        margin-top: -8px;
    }
    .btn-menu {
        display: block;
    }
    .main-nav .toggle-box {
        display: none;
        position: absolute;
        z-index: 1000;
        right: -15px;
        width: 35%;
        min-width: 250px;
        padding: 1.5em 0 2em;
        margin: 5px 0 0;
        background: #0099F5;
        text-align: right;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    }
    .main-nav .toggle-box li {
        float: none;
        display: block;
        padding: 0;
        margin: 0 1em 0.5em;
    }
    .main-nav .toggle-box a {
        display: block;
        padding: 0.8em 1em;
        font-size: 1em;
    }
    .main-nav .sign-nav-btn {
        margin-top: 2em;
    }
    .main-nav .sign-nav-btn li {
        margin-top: 1em;
        margin-left: 1.5em;
    }
    .main-nav .sign-nav-btn li:first-child {
        margin-top: 0;
    }
    .main-nav .sign-nav-btn a {
        display: inline-block;
        min-width: 180px;
        width: 100%;
        min-height: 43px;
        padding: 0 1em;
        border-radius: 2em;
        border: 2px solid #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.9em;
        line-height: 39px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }
    .main-nav .sign-nav-btn a.sign-in {
        background: url(../img/header/lock_icon.png) no-repeat right center #0082fb;
        background-origin: content-box;
        min-width: 141px;
        width: auto;
        padding: 0 1.5em 0 2.5em;
        text-align: left;
        border: none;
        line-height: 43px;
    }
    .video-box {
        background-position-x: 66%;
    }
    .video-content p {
        font-size: 1.1em;
    }
    .author-box {
        margin-right: 2.5em;
        width: 300px;
    }
    .author-box > img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
    .feedback-content {
        padding: 3em 15px 1em;
    }
}
@media all and (max-width: 959px) {
    .banner-clouds {
        margin-left: -75px;
    }
    .logos-box:before {
        margin-left: 132px;
    }
    .logos-list {
        display: block;
        text-align: center;
        margin-bottom: -1.5em;
    }
    .logos-list li {
        display: inline-block;
        width: 20%;
        margin-bottom: 2em;
    }
    .video-section {
        background: #EEF5F8;
    }
    .video-section:after {
        left: 0;
        margin-left: -50px;
    }
    .video-box {
        position: relative;
        left: 0;
        min-height: 420px;
        margin-left: 0;
        background-position: center center;
    }
    .video-box iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .video-content {
        width: 100%;
        padding-right: 0;
        padding-left: 241px;
    }
    .video-content p {
        padding-right: 0;
    }
}
@media all and (max-width: 920px) {
    .prefooter_robot {
        left: inherit;
        right: 0;
        bottom: -8px;
        margin-right: -189px;
    }
}
@media all and (max-width: 860px) {
    .prefooter .half-box {
        width: 100%;
        padding-right: 200px;
    }
}
@media all and (max-width: 767px) {
    .banner-clouds {
        margin-left: -150px;
    }
    .logos-box:before {
        margin-left: 57px;
    }
    .advantages-section .section-header br {
        display: none;
    }
    .advantages-list {
        margin-left: -10px;
        margin-right: -10px;
    }
    .advantages-list td {
        padding-left: 1em;
        padding-right: 1em;
    }
    .advantages-list .icon-wrap {
        width: 131px;
        height: 131px;
        line-height: 131px;
    }
    .advantages-list .icon-wrap img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        padding: 1em 1.5em;
    }
    .feedback-content {
        padding-top: 2.5em;
    }
    .feedback-content > p {
        margin-bottom: 2.5em;
    }
    .author-box {
        margin-right: 1em;
    }
    .prefooter .half-box {
        padding-right: 170px;
    }
    .prefooter_robot {
        margin-right: -143px;
        width: 321px;
    }
    .prefooter .subscribe-form li {
        margin-right: 0;
        width: 48%;
    }
    .prefooter .subscribe-form li:nth-child(2) {
        float: right;
    }
    .prefooter .subscribe-form input {
        width: 100%;
        min-width: auto;
    }
}
@media all and (max-width: 640px) {
    .logos-list li {
        width: 130px;
    }
    .logos-list li img {
        max-width: 100%;
        width: auto;
        height: auto;
    }
    .advantages-section .section-header {
        text-align: center;
    }
    .advantages-list {
        display: block;
        padding-bottom: 1em;
    }
    .advantages-list td,
    .advantages-list tr:first-child td{
        display: block;
        padding-top: 2.5em;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    .advantages-list tr:first-child td:first-child {
        padding-top: 0;
    }
    .advantages-list td:last-child {
        padding-bottom: 2em;
    }
    .advantages-list .td-header {
        width: auto;
    }
    .td-header br {
        display: none;
    }
    .author-box {
        float: none;
        max-width: 100%;
        width: 300px;
        margin: 0 auto -4px;
        text-align: center;
    }
    .author-box:after {
        display: none;
    }
    .feedback-content {
        padding-bottom: 3em;
        text-align: center;
    }

}
@media all and (max-width: 580px) {
    .input-style, .btn {
        min-width: auto;
    }
    .banner-clouds {
        left: 0;
        margin-left: 80px;
        margin-top: -52px;
    }
    .banner-clouds:before {
        background: transparent;
    }
    .banner-clouds .under-cloud {
        display: none;
    }
    .banner-box {
        text-align: center;
    }
    .banner-box br {
        display: none;
    }
    .subscribe-form li {
        margin-right: 0;
        width: 48%;
    }
    .subscribe-form li:nth-child(2) {
        float: right;
    }
    .subscribe-form input {
        width: 100%;
    }
    .video-box {
        min-height: 360px;
    }
    .video-content {
        padding-left: 200px;
    }
    .prefooter .half-box {
        padding-right: 0;
        z-index: 10;
        text-align: center;
    }
    .prefooter .subscribe-form {
        max-width: 320px;
    }
    .prefooter .subscribe-form li {
        margin-bottom: 1.5em;
        width: 100%;
    }
}
@media all and (max-width: 480px) {
    .video-box {
        background-position-x: 70%;
        background-size: contain;
    }
    .video-content {
        padding-left: 0;
    }
    .video-section:after {
        bottom: inherit;
        margin-left: -32px;
        top: 200px;
        width: 137px;
        height: 200px;
        background-size: contain;
    }
    .footer-logo,
    .main-nav.footer-nav,
    .copyright {
        float: none;
        margin: 0;
        text-align: center;
    }
    .footer-logo {
        margin-bottom: 2em;
    }
    .main-nav li {
        float: none;
        display: inline-block;
    }
}
@media all and (max-width: 419px) {
    .header-top {
        height: auto;
        padding-bottom: 0;
    }
    .main-logo {
        max-width: 100%;
        float: none;
        margin: 0 auto;
    }
    .main-nav:not(.footer-nav) {
        position: static;
        margin-top: 0;
        text-align: center;
    }
    .btn-menu {
        display: inline-block;
    }
    .main-nav .toggle-box {
        right: 50%;
        margin-right: -125px;
    }
    .subscribe-form li {
        margin-bottom: 1.5em;
        width: 100%;
    }
    .logos-box:before {
        margin-left: 0;
    }
    .logos-list {
        position: relative;
        left: -10px;
    }
    .video-box {
        min-height: 280px;
    }
    .video-section:after {
        margin-left: -28px;
        top: 145px;
        width: 123px;
        height: 180px;
    }
}
@media all and (max-width: 380px) {

}